**\.ipynb_checkpoints

**/comparisons/*.jpg
data/Network_Attribute_*


data/gtfs/route_shapes_*
data/LODES/*_diff_*


**/*/5_DaySim/Buffer/output_shortest_path.txt
**/*/5_DaySim/Buffer/output_shortest_path.txt.bin
**/*/5_DaySim/Buffer/output_shortest_path.txt.index

## TransCAD Logs
log.xml
log.xsl
report.xml
report.xsl

## Scenario Logs
Log_*.txt

**/2_Scenarios/*/Outputs

Scripts/build
*312.pyc
*.spec

**/*/model_output
**/*/scripts/environment
**/*/scripts/_Map_Automation/Data/Model_Output_Intermediate
